<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9062112178-fa1ho4nvh0jsk72a9cc0akrhgccofg92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9062112178-fa1ho4nvh0jsk72a9cc0akrhgccofg92</string>
	<key>API_KEY</key>
	<string>AIzaSyBgBiXXhWhCfVB6esGQ40G3FjYKWEJgoU4</string>
	<key>GCM_SENDER_ID</key>
	<string>9062112178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gradProject</string>
	<key>PROJECT_ID</key>
	<string>grad-project1-f8b8e</string>
	<key>STORAGE_BUCKET</key>
	<string>grad-project1-f8b8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9062112178:ios:54d7556807cb4685cfa2ab</string>
</dict>
</plist>